 body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    background: linear-gradient(22deg, rgb(68, 35, 45), rgb(70, 77, 177));
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
    
 }

 